.page {
  width: 500px;
  margin: 0 auto;
}
.synopsis {
  color: #7E8184; /*light gray*/
  font-style: italic;

/*pseudo class selector for buttons*/
}
.button:link,
.button:visited {
  display:block;
  text-decoration: none;

  color: #FFF;
  background-color: #5995DA;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 5px;
  width: 200px;
  margin: 40px auto;

}

.button:hover,
.button:visited:hover {

  color: #FFF;
  background-color: #76AEED;
}

.button:active,
.button:visited:active {

  color: active;
  background-color: #5995DA;
}

.call-to-action:link,
.call-to-action:visited {
  font-style: italic;
  background-color: #EEB75A;
}

.call-t0-action:hover,
.call-to-action:visited:hover {
  background-color: #F5CF8E;
}

.call-to-action:active,
.call-to-action:visited:active {
  background-color: #EEB75A;
}
.synopsis em {
  font-style: normal;
}
/* pseudo class selectors for links*/

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: purple;
}

a:hover {
  color: aqua;
  text-decoration: underline;
}

a:active {
  color: red;
}

a:visited:hover{
  color: orange;
}

a:visited:active {
  color: red;
}


/* requires that the buttons be changed to a <a href> element instead of
generic <div> elements*/

/*pseudo Clases for structure
selects a specific element without having to alter the html at all*/
p:last-of-type {
  marging-bottom: 50px;
}

/*caveat or child selector*/
.page > p:first-of-type {
  color: #7E8184;
  font-style: italic;
}

#button-2 {
  color: #5D6063;
}
