* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
/* giving our page a fixed width layout*/
.page {
  width: 900px;
  margin: 0 auto;

}
.container{
  overflow: hidden;
  background-color: #EAEDF0;
}
.menu{

  height: 100px;
  background-color: #B2D6FF; /*medium blue*/
}

.sidebar {
  float:left;
  width: 200px;
  height: 300px;
  background-color: #F09A9D; /*Red*/
}

.content {
  width: 650px;
  height: 500px;
  float: left;
  background-color: #F5CF8E;
}
 .footer {
   clear: both;
   height: 200px;
   background-color: #D6E9FE;
 }
